body {
      font-family: 'Open Sans', sans-serif;
      background-color: #555;
    }
    a {
      color: #ddf85e;
      -webkit-transition: color .5s;
      transition: color .5s;
    }
    a:hover {
      color: #fff;
      text-decoration: none;
    }
    a:visited {
      color: #ccc;
      text-decoration: none;
    }
    .topnav {
        padding: 8px;
        background-color: #333;
        color: #ddf85e;
        font-family: 'Raleway', sans-serif;
    }
    .topnav h3 {
      margin-top: 10px;
    }
    .main {
        margin: 40px 0;
    }
    #searchForm .form-control {
      border-radius: 0;
      display: inline-block;
      margin-right: 6px;
    }
    #searchForm label {
        color: #fff;
        display: inline-block;
        margin: 0 8px 0 12px;
    }
    #searchForm select {
        padding: 26px 20px;
        height: 36px;
    }
    /*
    #searchForm select {
        padding: 26px 20px;
        background-color: #333;
        color: #ddf85e;
        text-transform: uppercase;
        border: 1px solid #ddf85e;
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        -webkit-transition: background .5s;
        transition: background .5s;
        border-radius: 0;
        height: 36px;
    }
    */
    .searchText {
      color: #fff;
      margin-top: 20px;
      margin-bottom: 20px;  
    }
    .highlight {
      color: #ddf85e;
    }
    #searchForm .submitButton {
        padding: 8px 20px;
        margin-left: -2px;
        background-color: #333;
        color: #ddf85e;
        text-transform: uppercase;
        border: 1px solid #ddf85e;
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        -webkit-transition: background .5s;
        transition: background .5s;
    }
    #searchForm .submitButton:hover {
      background-color: #666;
    }
    #loadmore {
        text-align: center;
        cursor: pointer;
        border: 1px solid #ddf85e;
        background-color: #333;
        color: #ddf85e;
        padding: 10px;
        text-transform: uppercase;
        margin-top: 20px;
        -webkit-transition: background .5s;
        transition: background .5s;
    }
    #loadmore:hover {
      background-color: #666;
    }
    .form-control {
        width: auto !important;
        display: inline-block !important;
    }
    article {
      border-top: 1px solid #333;
      border-bottom: 1px solid #797979;
      padding-top: 20px; 
      padding-bottom: 20px;
      padding-left: 0 !important;
    }  
    .articleImage {
      padding-left: 0;
    }
    .articleImage img {
      width: 100%;
      border: 1px solid #ccc;
      opacity: 1;
      -webkit-transition: opacity .5s;
      transition: opacity .5s;
    }
    .articleImage img:hover {
      opacity: .5;
    }
    article h3 {
        margin: 0 0 10px;
        font-size: 20px;
    }
    article h4 {
        margin-top: 0;
        margin-bottom: 4px;
    }
    article p {
        margin-bottom: 0;
        color: #fff;
    }
    article .articleDesc {
      margin-top: 10px;
    }
    article .readMore {
      display: block;
      margin-top: 10px;
    }
    article .noPhoto {
      border: 1px solid #ccc;
      background-color: #333;
      color: #ddf85e;
      width: 100%;
      padding: 40px;
      text-align: center;
    }
    footer {
      color: #ccc;
    }
    @media (max-width: 768px) {
      article h3 {
          margin-top: 10px;
      }
      .articleImage {
        padding-left: 15px;
      }
      article {
        height: auto;
      }
    }